
body {
}

body, table, tr, td, input, select, textarea {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
}

div#main {
  
}

div#sensors {
  
}

div.sensor-button {
  float: left;
  cursor: pointer;
  border: 1px solid black;

}

div.sensor-button img {
  padding: 5px;
}

div#detailed {
  width: 990px;
  border: 1px solid black;
}

div#detailed h2, div#detailed h3 {
  text-align: center;
}
div.pager {
  text-align: center;
}